<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Rooms display</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
      <!-- Navigation Bar-->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">Lights and ringers controller</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="buildings.html">Buildings</a></li>
            <li class="active"><a href="rooms.html">Rooms</a></li>
          </ul>
        </div>
      </nav>

      <!-- Page -->
      <div id="app" class="container">
        <!-- Title of the page -->
        <h3 class="text-center">List of Rooms</h3>

        <!-- List of Rooms -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Light Status</th>
              <th scope="col">Light Level</th>
              <th scope="col">Ringer status</th>
              <th scope="col">Noise Level</th>
              <th scope="col">Switch Light</th>
              <th scope="col">Switch Ringer</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <form action="">
            </form>
            <tr v-for="room in rooms">
              <th scope="row">{{room.id}}</th>
              <td>
                <div v-if="room.light.status=='OFF'"><img src="img/light-off.png"></div>
                <div v-if="room.light.status=='ON'"><img src="img/light-on.png"></div>
              </td>
              <td>{{room.light.level}}</td>
              <td>
                <div v-if="room.noise.status=='OFF'"><img src="img/ringer-off.png"></div>
                <div v-if="room.noise.status=='ON'"><img src="img/ringer-on.png"></div>
              </td>
              <td>{{room.noise.level}}</td>
              <td>
                <button class="btn btn-light" v-on:click="switch_light(room.id)"><img src="img/switch.png" width="20"></button>
              </td>
              <td>
                <button class="btn btn-light" v-on:click="switch_noise(room.id)"><img src="img/switch.png" width="20"></button>
              </td>
              <td>
                <button class="btn btn-light" v-on:click="delete_room(room.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button v-if="!newRoomForm" v-on:click="initNewRoom()">Add a new Room</button>

        <!-- New Room -->
        <div v-if="newRoomForm">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Light Status</th>
                <th scope="col">Switch Light</th>
                <th scope="col">Light Level</th>
                <th scope="col"></th>
                <th scope="col">Ringer status</th>
                <th scope="col">Switch Ringer</th>
                <th scope="col">Noise Level</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <form action="">
              </form>
              <tr>
                <th scope="row">{{newRoom.id}}</th>
                <td>
                  <div v-if="newRoom.light.status=='OFF'"><img src="img/light-off.png"></div>
                  <div v-if="newRoom.light.status=='ON'"><img src="img/light-on.png"></div>
                </td>
                <td>
                  <button class="btn btn-light" v-on:click="newRoom.light.status= newRoom.light.status=='OFF'?'ON':'OFF'"><img src="img/switch.png" width="20"></button>
                </td>
                <td>{{newRoom.light.level}}</td>
                <td>
                  <button class="btn btn-light" v-on:click="newRoom.light.level++">+</button>
                  <button class="btn btn-light" v-on:click="newRoom.light.level--">-</button>
                </td>
                <td>
                  <div v-if="newRoom.noise.status=='OFF'"><img src="img/ringer-off.png"></div>
                  <div v-if="newRoom.noise.status=='ON'"><img src="img/ringer-on.png"></div>
                </td>
                <td>
                  <button class="btn btn-light" v-on:click="newRoom.noise.status=newRoom.noise.status=='OFF'?'ON':'OFF'"><img src="img/switch.png" width="20"></button>
                </td>
                <td>{{newRoom.noise.level}}</td>
                <td>
                  <button class="btn btn-light" v-on:click="newRoom.noise.level++">+</button>
                  <button class="btn btn-light" v-on:click="newRoom.noise.level--">-</button>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <button v-on:click="sendNewRoom">Save the new Room</button>
        </div>
        <br>
      </div>

    </body>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/rooms_js.js" type="text/javascript"></script>
</html>
